#post-head {
    width: 100%;
    margin: 0 0 1rem 0;
}

#post-head-img {
    display: flex;
    flex-direction: row;
}

.post-img-1 {
    filter: grayscale(0.8);
    width: 20%;
    height: 100%;
}

.post-img-2 {
    filter: grayscale(0.4);
    width: 20%;
    height: 100%;
}

.post-img {
    height: 100%;
    width: 20%;
}

#post-section {
    font-family: 'Pragati Narrow', sans-serif;
    color: white;
    text-align: center;
    margin: 0 2rem;
}

.post-title {
    font-size: 1.6rem;
}

.post-info {
    font-size: 1.2rem;
}

.post-content {
    font-family: 'Glegoo', serif;
    text-align: left;
}

.music-preview {
    margin: 4rem 0;
}

#post-tag-section {
    color: white;
    margin: 0 2rem;
    bottom: 0;
}

.post-tags {
    color: white;
    display: flex;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 1.2rem;
}

.post-tag {
    margin: 0 0.4rem;
}

/* ------------------------------------------- Tablet Screens */

@media only screen and (max-width: 768px) {

    .post-title {
        font-size: 1.4rem;
    }

    .post-content {
        font-size: 1rem;
    }

}

/* ------------------------------------------- Mobile Screens */

@media only screen and (max-width: 480px) {

    .post-title {
        font-size: 1rem;
    }

    .post-content {
        font-size: 0.8rem;
    }

}