#post-head {
    width: 100%;
    margin: 1rem 0;
}

#post-head-img {
    display: flex;
    flex-direction: row;
    height: 24rem;
}

.post-img-1 {
    filter: grayscale(0.8);
    width: 20%;
    height: 100%;
}

.post-img-2 {
    filter: grayscale(0.4);
    width: 20%;
    height: 100%;
}

.post-img {
    height: 100%;
    width: 20%;
}

#post-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pragati Narrow', sans-serif;
    color: white;
    text-align: center;
    margin: 0 4rem;
}

.post-title {
    font-size: 1.6rem;
}

.post-info {
    font-size: 1.2rem;
}

.post-content {
    font-family: 'Glegoo', serif;
    margin: 2rem;
}

.music-preview {
    margin: 4rem 0;
}

#post-tag-section {
    color: white;
    margin: 1rem 4rem;
}

.post-tags {
    color: white;
    display: flex;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 1.2rem;
}

.post-tag {
    margin: 0 0.4rem;
}