{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Back To Front</title>
    <meta name="description" content="Base template" >
    <meta name="keywords" content="html template" >
    <link rel="stylesheet" href="{% static 'css/base.css' %}" >
    <script src="https://kit.fontawesome.com/36f60eb758.js" crossorigin="anonymous"></script>

    {% block extra_css %}
    {% endblock %}

    
  </head>
  <body>

    <div id="search">
      <div class="search-bar">
          <form method="POST" action="#">
              {% csrf_token %}
              <input type="search" name="searched">
              <button id="search-arrow" type="submit">
                <i class="fas fa-arrow-right"></i>
              </button>
          </form>
      </div>
  </div>

    <div id="loader">
      <div class="logo-loader">
          <h2>BACK TO FRONT</h2>
      </div>
    </div>

    <!-- Navigation -->
    <nav id="navbar">
      <div id="logo-cont">
          <h1 id="logo">
            <a href="/">BACK TO FRONT</a>
          </h1>
        </a>
      </div>
    </nav>
    <main>
      {% block content %}
      <!-- Content Goes here -->
      {% endblock content %}
    </main>

    <script>
      var loader = document.getElementById('loader');

      window.addEventListener('load', function () {
          loader.style.display = 'none';
      });
    </script>

  </body>
</html>
